<%- include('header') %> <%- include('adminlayout') %>

<div id="content">
  <div class="container">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <h2>Sales Report</h2>
      </div>
    </nav>
    <div class="date-selection">
      <label for="fromDate">From Date:</label>
      <input type="date" id="fromDate" />

      <label for="toDate">To Date:</label>
      <input type="date" id="toDate" />

      <button id="downloadReportButton" class="btn btn-primary">
        Download Sales Report
      </button>
    </div>
    <div id="errorMessage" class="error-message"></div>

    <div class="sales-list">
      <table class="table table-bordered">
        <!-- Table headers -->
        <thead class="table-primary">
          <tr>
            <th>Date</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% orders.forEach(order => { %>
            <tr>
              <td><%= order.orderDate.toLocaleDateString() %></td>
              <td>
                <% order.products.forEach(product => { %>
                  <ul>
                    <li><%= product.name %></li>
                  </ul>
                <% }); %>
              </td>
              <td>
                <% order.products.forEach(product => { %>
                  <ul>
                    <li><%= product.quantity %></li>
                  </ul>
                <% }); %>
              </td>
              <td><%= order.totalAmount %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    
  </div>
</div>

<script>
  document
    .getElementById("downloadReportButton")
    .addEventListener("click", () => {
      const fromDate = document.getElementById("fromDate").value;
      const toDate = document.getElementById("toDate").value;

      fetch(`/admin/salesreport/download?fromDate=${fromDate}&toDate=${toDate}`)
        .then((response) => response.blob())
        .then((blob) => {
          const url = window.URL.createObjectURL(new Blob([blob]));
          const a = document.createElement("a");
          a.href = url;
          a.download = "sales_report.csv";
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
        })
        .catch((error) => {
          document.getElementById("errorMessage").textContent =
            "Error: " + error;
        });
    });
</script>

<%- include('footer') %>
