<%- include('header') %> <%- include('adminlayout') %>

<div id="content" class="container">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <h2>Coupon Management</h2>
    </div>
  </nav>
  <div class="row mt-4">
    <!-- Add Coupon Form -->
    <div class="col-md-6">
      <div class="coupon-form">
        <h3>Add a New Coupon</h3>
        <form action="/admin/coupon/add" method="POST">
          <div class="form-group mt-4">
            <label for="code">Coupon Code</label>
            <input type="text" name="code" class="form-control mt-2" required />
          </div>
          <div class="form-group mt-3">
            <label for="discountPercentage">Discount Percentage</label>
            <input
              type="number"
              name="discountPercentage"
              class="form-control mt-2"
              required
            />
          </div>
          <div class="form-group mt-3">
            <label for="minPurchaseAmount">Minimum Purchase Amount</label>
            <input
              type="number"
              name="minPurchaseAmount"
              class="form-control mt-2"
              required
            />
          </div>
          <div class="form-group mt-3">
            <label for="expiresAt">Expiration Date</label>
            <input
              type="date"
              name="expiresAt"
              class="form-control mt-2"
              required
            />
          </div>

          <div class="form-group mt-3">
            <label for="maxRedimableAmount">Maximum Redeemable Amount</label>
            <input
              type="number"
              name="maxRedimableAmount"
              class="form-control mt-2"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary mt-3">Add Coupon</button>
        </form>
      </div>
    </div>
    <!-- List of Coupons -->
    <div class="col-md-6">
      <div class="coupons">
        <h3>Coupons</h3>
        <ul class="list-group mt-4">
          <% coupons.forEach(coupon => {%>
          <li class="list-group-item coupon-item">
            <div class="coupon-details">
              <strong class="coupon-label">Coupon Code:</strong> <%= coupon.code
              %><br />
              <strong class="coupon-label">Discount Percentage:</strong> <%=
              coupon.discountPercentage %>%<br />
              <strong class="coupon-label">Minimum Purchase Amount:</strong> <%=
              coupon.minPurchaseAmount %><br />
              <strong class="coupon-label">Creation Date:</strong> <%=
              coupon.createdAt %><br />
              <strong class="coupon-label">Expiration Date:</strong> <%=
              coupon.expiresAt %><br />
              <strong class="coupon-label">Active:</strong> <%= coupon.active ?
              'Yes' : 'No' %><br />
              <strong class="coupon-label">Maximum Redeemable Amount:</strong>
              <%= coupon.maxRedimableAmount %><br />
            </div>
            <div class="coupon-actions">
              <button
              class="btn btn-danger"
              onclick="deleteCoupon('<%= coupon._id %>')"
            >
              Delete
            </button>
              <button
                class="btn btn-success list-button"
                data-coupon-id="<%= coupon._id %>"
              >
                <% if (coupon.active) { %> Unlist <% } else { %> List <% } %>
              </button>
            </div>
          </li>
          <%})%>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
   function deleteCoupon(id) {
    fetch("/admin/coupon/delete/" + id, {
      method: "delete",
    });
    window.location.reload();
  }
  $(document).ready(function () {
    // Listen for clicks on the "List" button
    $(".list-button").on("click", function () {
      const couponId = $(this).data("coupon-id");
      console.log($(this).text().trim());
      const active = $(this).text().trim() === "List";

      const listButton = $(this);

      // Use AJAX to update the coupon's "active" status
      $.ajax({
        type: "PATCH",
        url: `/admin/coupon/list/${couponId}`,
        data: { active },
        success: function (response) {
          if (active) {
            listButton.text("Unlist");
          } else {
            listButton.text("List");
          }
        },
        error: function (error) {
          // Handle error
          console.error("Error list coupon:", error);
        },
      });
    });
  });
</script>

<%- include('footer') %>
