<%- include('header')%> <%- include('adminlayout')%>

<div id="content">
  <div class="container">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <h2>Order Management</h2>
      </div>
    </nav>

    <!-- Search Bar -->
    <div class="container mt-5">
      <form action="#" method="post">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                id="searchInput"
                name="search"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="searchButton">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Order List -->
    <div class="container mt-4">
      <div class="order-list">
        <% if(orders.length === 0){%>
        <div class="text-center">
          <img
            id="empty-cart-image"
            src="/images/No Result.png"
            alt="Empty Cart"
            style="max-width: 100%"
          />
        </div>
        <%}else{%>
        <h3 class="mb-3">Order List</h3>
        <table class="table table-bordered">
          <thead class="table-primary">
            <tr>
              <th>Order ID</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Products</th>
              <th>Total Amount</th>
              <th>Payment Method</th>
              <th>Order Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% orders.forEach(order => { %>
            <tr>
              <td><%= order._id %></td>
              <td><%= order.name %></td>
              <td><%= order.email %></td>
              <td>
                <% order.products.forEach(product => { %>
                <ul>
                  <li><%= product.name %></li>
                </ul>
                <% }); %>
              </td>
              <td>₹<%= order.totalAmount %></td>
              <td><%= order.paymentMethod %></td>
              <td><%= order.status %></td>
              <td>
                <a
                  href="/admin/orders/details/<%= order._id %>"
                  class="btn btn-secondary"
                >
                  Details
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <%}%>
      </div>
    </div>
  </div>
</div>

<%- include('footer')%>
