<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HMK(Fashion-Store)</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/style/util.css" />
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <!--===============================================================================================-->
  </head>
  <body class="animsition">
    <header class="header-v2">
      <div class="container-menu-desktop">
        <div class="wrap-menu-desktop how-shadow1">
          <nav class="limiter-menu-desktop container">
            <!-- Logo desktop -->
            <a href="/user" class="logo">
              <img src="/images/Hmk(logo).jpg" alt="IMG-LOGO" />
            </a>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li>
                  <a href="/user">Home</a>
                </li>
                <li>
                  <a href="/user/shop">Shop</a>
                </li>
                <li class="active-menu">
                  <a href="/user/cart">Cart</a>
                </li>
                <li>
                  <a href="/user/orders">My Orders</a>
                </li>
                <li>
                  <a href="about.html">About</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <div class="bg0 p-t-75 p-b-85">
      <div class="container">
        <h2 class="mb-4">Checkout</h2>

        <div class="row">
          <!-- Left Column - Personal Information Form -->
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="name">Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="State">State:</label>
                <input
                  type="text"
                  class="form-control"
                  id="state"
                  name="state"
                  required
                />
              </div>
              <div class="form-group">
                <label for="district">District:</label>
                <input
                  type="text"
                  class="form-control"
                  id="district"
                  name="district"
                  required
                />
              </div>
              <div class="form-group">
                <label for="city">City:</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  name="city"
                  required
                />
              </div>
              <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input
                  type="tel"
                  class="form-control"
                  id="phone"
                  name="phone"
                  required
                />
              </div>
              <div class="form-group">
                <label for="pincode">Pincode:</label>
                <input
                  type="tel"
                  class="form-control"
                  id="pincode"
                  name="pincode"
                  required
                />
              </div>
              <div class="form-group">
                <label for="payment-method">Payment Method:</label>
                <select
                  class="form-control"
                  id="payment-method"
                  name="paymentMethod"
                  required
                >
                  <option value="Cash On Delivery">Cash On Delivery</option>
                  <option value="Online Payment">Online Payment</option>
                  <!-- Add more options as needed -->
                </select>
              </div>
            </form>
          </div>

          <!-- Right Column - Cart Summary -->
          <div class="col-md-6">
            <div
              class="table-container"
              style="max-height: 600px; overflow-y: auto"
            >
              <table class="table-shopping-cart">
                <tr class="table_head">
                  <th class="column-1">Product</th>
                  <th class="column-2"></th>
                  <th class="column-3">Price</th>
                  <th class="column-4">Quantity</th>
                  <th class="column-5">Total</th>
                </tr>
                <% carts.forEach(cart => { %>
                <tr class="table_row">
                  <td class="column-1">
                    <div class="how-itemcart1">
                      <img src="/uploads/<%= cart.productImg %>" alt="IMG" />
                    </div>
                  </td>
                  <td class="column-2"><%= cart.name %></td>
                  <td class="column-3">₹<%= cart.price %></td>
                  <td class="column-4 text-center"><%= cart.quantity %></td>
                  <td class="column-5">
                    <span
                      class="cart-item-total"
                      data-total="<%= cart.price * cart.quantity %>"
                    >
                      ₹<%= cart.price * cart.quantity %>
                    </span>
                  </td>
                </tr>
                <% }) %>
              </table>
            </div>

            <!-- Total Amount Box -->
            <div class="mt-4">
              <div class="text-center">
                <h4>Total Amount:</h4>
                <p><span id="total-amount">₹0</span></p>
              </div>
            </div>
          </div>
          <% if (locals.error) { %>
          <p style="color: red"><%= error %></p>
          <% } %>
        </div>

        <!-- Place Order Button -->
        <div class="text-center mt-4">
          <button
            onclick="call()"
            type="button"
            id="placeOrder"
            class="flex-c-m stext-101 cl0 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer mx-auto"
            style="width: 15%; height: 50px"
          >
            Place order
          </button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Categories</h4>
            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Women</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Men</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Shoes</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Watches</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Help</h4>
            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"
                  >Track Order</a
                >
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Returns</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Shipping</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">FAQs</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>
            <p class="stext-107 cl7 size-201">
              Any questions? Let us know in store at 8th floor, 379 Hudson St,
              New York, NY 10018 or call us on (+1) 96 716 6879
            </p>
            <div class="p-t-27">
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-pinterest-p"></i>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>
            <form>
              <div class="wrap-input1 w-full p-b-4">
                <input
                  class="input1 bg-none plh1 stext-107 cl7"
                  type="text"
                  name="email"
                  placeholder="email@example.com"
                />
                <div class="focus-input1 trans-04"></div>
              </div>
              <div class="p-t-18">
                <button
                  class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="p-t-40">
          <div class="flex-c-m flex-w p-b-18">
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-01.png" alt="ICON-PAY" />
            </a>
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-02.png" alt="ICON-PAY" />
            </a>
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-03.png" alt="ICON-PAY" />
            </a>
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-04.png" alt="ICON-PAY" />
            </a>
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-05.png" alt="ICON-PAY" />
            </a>
          </div>
          <p class="stext-107 cl6 txt-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp;
            distributed by
            <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

    <!--===============================================================================================-->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
      function call() {
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const state = document.getElementById("state").value;
        const district = document.getElementById("district").value;
        const city = document.getElementById("city").value;
        const phone = document.getElementById("phone").value;
        const pincode = document.getElementById("pincode").value;
        const paymentMethod = document.getElementById("payment-method").value;

        const orderData = {
          name,
          email,
          state,
          district,
          city,
          phone,
          pincode,
          paymentMethod,
        };

        fetch("/user/orders", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(orderData),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            console.log(data);

            if (paymentMethod === "Cash On Delivery" && data.cod) {
              // Redirect to the UserOrders page
              window.location.href = "/user/orders";
            } else if (paymentMethod === "Online Payment" && data.online) {
              // Handle online payment
              razorpayPayment(data.order);
            } else {
              // Handle the case where data.success is false
              console.error("Server reported failure");
            }
          });
      }

      function razorpayPayment(order) {
        console.log("razorpayPayment function called");
        console.log("Order ID:", order);

        var options = {
          key: "rzp_test_YEKs0OcNLC9cj0", // Enter the Key ID generated from the Dashboard
          amount: 5000, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          currency: "INR",
          name: "HMK",
          description: "Test Transaction",
          image: "/image",
          order_id: orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          handler: function (response) {
            console.log("Razorpay payment handler called");
            if (response.error) {
              console.error("Razorpay payment failed:", response.error);
            } else {
              // Handle successful payment
              console.log("Payment successful:", response);
              confirmOrder(response);
              $("#exampleModal1").modal("show");
            }
          },

          prefill: {
            name: "Gaurav Kumar",
            email: "gaurav.kumar@example.com",
            contact: "9000090000",
          },
          notes: {
            address: "Razorpay Corporate Office",
          },
          theme: {
            color: "#3399cc",
          },
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
        rzp1.on("payment.failed", function (response) {
          deleteOrder(response);
          // alert(response.error.code);
          // alert(response.error.description);
          // alert(response.error.source);
          // alert(response.error.step);
          // alert(response.error.reason);
          // alert(response.error.metadata.order_id);
          // alert(response.error.metadata.payment_id);
        });
        // document.getElementById('rzp-button1').onclick = function(e){
        //     rzp1.open();
        //     e.preventDefault();
        // }
      }

      function confirmOrder(response, orderId) {}
    </script>
    <!--===============================================================================================-->

    <script>
      function updateTotalAmount() {
        const cartItemTotals = document.querySelectorAll(".cart-item-total");

        let totalAmount = 0;

        cartItemTotals.forEach((item) => {
          totalAmount += parseFloat(item.getAttribute("data-total"));
        });

        const totalAmountSpan = document.getElementById("total-amount");
        totalAmountSpan.textContent = `₹${totalAmount.toFixed(2)}`;
      }

      window.addEventListener("load", updateTotalAmount);
    </script>

    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
  </body>
</html>
