<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HMK(Fashion-Store)</title>
    <link rel="icon" type="image/png" href="/images/images/icons/favicon.png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/css-hamburgers/hamburgers.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/animsition/css/animsition.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/select2.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link rel="stylesheet" type="text/css" href="/style/util.css" />
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
  </head>
  <body class="animsition">
    <!-- Header -->
    <header class="header-v2">
      <div class="container-menu-desktop">
        <div class="wrap-menu-desktop how-shadow1">
          <nav class="limiter-menu-desktop container">
            <a href="/user" class="logo">
              <img src="/images/Hmk(logo).jpg" alt="IMG-LOGO" />
            </a>
            <div class="menu-desktop">
              <ul class="main-menu">
                <li>
                  <a href="/user">Home</a>
                </li>
                <li>
                  <a href="/user/shop">Shop</a>
                </li>
                <li>
                  <a href="/user/cart">Cart</a>
                </li>
                <li class="active-menu">
                  <a href="/user/orders">My Orders</a>
                </li>
                <li>
                  <a href="/user/profile">Profile</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <div class="bg0 p-t-75 p-b-85">
      <% if(orders.length === 0){%>
      <div class="text-center">
        <img
          id="no-result-image"
          src="/images/Cart empty.png"
          alt="No Result"
          style="max-width: 100%"
        />
      </div>
      <%}else{%>
      <div class="container">
        <div class="row">
          <% orders.forEach(order => { %>
          <div class="col-lg-12 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
              <div class="wrap-table-my-orders">
                <table class="table-my-orders">
                  <tr class="table_head">
                    <th class="column-1">Product</th>
                    <th class="column-2">Product Name</th>
                    <th class="column-3">Price</th>
                    <th class="column-4">Quantity</th>
                    <th class="column-5">Total</th>
                  </tr>

                  <% order.products.forEach(product => { %>
                  <tr class="table_row">
                    <td class="column-1 mt-4">
                      <div class="how-itemcart1 product-cell">
                        <div class="product-image">
                          <img
                            src="/uploads/<%=product.productImg %>"
                            alt="IMG"
                          />
                        </div>
                      </div>
                    </td>
                    <td class="column-2"><%=product.name %></td>
                    <td class="column-3">₹<%=product.price %></td>
                    <td class="column-4"><%=product.quantity %></td>
                    <td class="column-5">₹<%=product.total %></td>
                  </tr>
                  <%})%>
                </table>
                <!-- Add a cancel button and status field here -->
                <div
                  class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm"
                >
                  <div class="flex-w flex-m m-r-20 m-tb-5">
                    <span class="cl2 plh4 p-lr-20 m-r-10 m-tb-5">
                      Status:
                      <span
                        id="order-status"
                        class="cl1"
                        style="font-size: larger"
                      >
                        <%=order.status%></span
                      >
                    </span>
                  </div>

                  <div class="flex-w flex-m m-r-20 m-tb-5">
                    <span class="cl2 plh4 p-lr-20 m-r-10 m-tb-5">
                      Total Amount:
                      <span class="cl1" style="font-size: larger">
                        ₹<%= order.totalAmount %>
                      </span>
                    </span>
                  </div>

                  <% if (order.status !== "Cancelled" && order.status !==
                  "Requesting order cancellation") { %>
                  <div class="flex-w flex-m m-r-20 m-tb-5">
                    <button id="cancelOrderButton" class="btn btn-danger">
                      Cancel Order
                    </button>
                  </div>
                  <% } else { %>
                  <div class="flex-w flex-m m-r-20 m-tb-5">
                    <button class="btn btn-secondary" disabled>
                      Cancel Order
                    </button>
                  </div>
                  <% } %> <% if (order.status !== "Cancelled" && order.status
                  !== "Requesting order cancellation") { %>

                  <a
                    href="/user/orders/invoice/<%= order._id%>"
                    class="btn cl0 bg3 hov-btn3 p-lr-15"
                    style="color: white"
                    >Invoice</a
                  >
                  <% } else { %>
                  <div class="flex-w flex-m m-r-20 m-tb-5">
                    <button class="btn btn-secondary" disabled>Invoice</button>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <%}%>
    </div>

    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Categories</h4>

            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Women </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Men </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Shoes </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Watches </a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Help</h4>

            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                  Track Order
                </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Returns </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                  Shipping
                </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> FAQs </a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>

            <p class="stext-107 cl7 size-201">
              Any questions? Let us know in store at 8th floor, 379 Hudson St,
              New York, NY 10018 or call us on (+1) 96 716 6879
            </p>

            <div class="p-t-27">
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-facebook"></i>
              </a>

              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-instagram"></i>
              </a>

              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-pinterest-p"></i>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>

            <form>
              <div class="wrap-input1 w-full p-b-4">
                <input
                  class="input1 bg-none plh1 stext-107 cl7"
                  type="text"
                  name="email"
                  placeholder="email@example.com"
                />
                <div class="focus-input1 trans-04"></div>
              </div>

              <div class="p-t-18">
                <button
                  class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="p-t-40">
          <div class="flex-c-m flex-w p-b-18">
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-01.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-02.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-03.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-04.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-05.png" alt="ICON-PAY" />
            </a>
          </div>

          <p class="stext-107 cl6 txt-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp;
            distributed by
            <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>
    <!-- Cancellation Reason Modal -->
    <% orders.forEach(order => { %>

    <div
      class="modal fade"
      id="cancellationReasonModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="cancellationReasonModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cancellationReasonModalLabel">
              Provide a Reason for Cancellation
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form
            id="cancellationReasonForm"
            action="/user/orders/cancel-order/<%=order._id%>"
            method="post"
          >
            <div class="modal-body">
              <div class="form-group">
                <label for="cancellationReason">Reason for Cancellation:</label>
                <textarea
                  class="form-control"
                  id="cancellationReason"
                  name="cancellationReason"
                  rows="4"
                  required
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn cl0 bg3 hov-btn3 p-lr-15 trans-04"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-danger"
                id="confirmCancellation"
              >
                Confirm Cancellation
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% }) %>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

    <!--===============================================================================================-->
    <script>
      // Show the cancellation reason modal when the "Cancel Order" button is clicked
      const cancelOrderButton = document.getElementById("cancelOrderButton");

      cancelOrderButton.addEventListener("click", function () {
        $("#cancellationReasonModal").modal("show");
      });
    </script>

    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
  </body>
</html>
