<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HMK(Fashion-Store)</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/style/util.css" />
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <!--===============================================================================================-->
  </head>
  <body class="animsition">
    <header class="header-v2">
      <div class="container-menu-desktop">
        <div class="wrap-menu-desktop how-shadow1">
          <nav class="limiter-menu-desktop container">
            <!-- Logo desktop -->
            <a href="/user" class="logo">
              <img src="/images/Hmk(logo).jpg" alt="IMG-LOGO" />
            </a>

            <!-- Menu desktop -->
            <div class="menu-desktop">
              <ul class="main-menu">
                <li>
                  <a href="/user">Home</a>
                </li>
                <li>
                  <a href="/user/shop">Shop</a>
                </li>
                <li>
                  <a href="/user/cart">Cart</a>
                </li>
                <li>
                  <a href="/user/orders">My Orders</a>
                </li>
                <li class="active-menu">
                  <a href="/user/profile">Profile</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <div class="container mt-3">
      <div class="profile-header">
        <h1>User Profile</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="profile-info">
            <div class="profile-info-item">
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                value="<%=user.username%>"
                disabled
              />
            </div>
            <div class="profile-info-item">
              <label for="phone">Phone Number:</label>
              <input
                type="text"
                id="phone"
                value="<%=user.phonenumber%>"
                disabled
              />
            </div>
            <div class="profile-info-item">
              <label for="email">Email:</label>
              <input type="email" id="email" value="<%=user.email%>" disabled />
            </div>
            <button class="btn cl0 bg3 hov-btn3 p-lr-15 mt-2" id="editProfile">
              Edit Profile
            </button>
            <button
              class="btn cl0 bg3 hov-btn3 p-lr-15 mt-2"
              id="saveChanges"
              style="display: none"
            >
              Save Changes
            </button>

            <!-- Add Address Button -->
            <button class="btn cl0 bg3 hov-btn3 p-lr-15 mt-2" id="addAddress">
              Add Address
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="user-wallet-container">
            <div class="card text-center mt-3">
              <div class="card-header">User Wallet</div>
              <div class="card-body">
                <!-- Wallet information goes here -->
                <p>Balance: ₹<%=user.wallet %></p>
                <p>Transactions: 10</p>
                <!-- You can add more wallet details as needed -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Display Existing Addresses -->
      <div class="row mt-3">
        <div class="col-md-6">
          <h2>Addresses</h2>
          <ul class="address-list">
            <% user.addresses.forEach((address, index) => { %>
            <li class="address-box">
              <div class="address-details">
                <p><strong>Street:</strong> <%= address.street %></p>
                <p><strong>City:</strong> <%= address.city %></p>
                <p><strong>State:</strong> <%= address.state %></p>
                <p><strong>Pincode:</strong> <%= address.pincode %></p>
              </div>
              <button
                class="btn btn-danger mt-2"
                onclick="deleteAddress('<%= address._id %>')"
              >
                Delete
              </button>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>

    <!-- Bootstrap Modal for Address Form -->
    <div
      class="modal fade"
      id="addressModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addressModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addressModalLabel">Add Address</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Address Form -->
            <form id="addressForm">
              <div class="form-group">
                <label for="street">Street:</label>
                <input
                  type="text"
                  class="form-control"
                  id="street"
                  name="street"
                  required
                />
              </div>
              <div class="form-group">
                <label for="city">City:</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  name="city"
                  required
                />
              </div>
              <div class="form-group">
                <label for="state">State:</label>
                <input
                  type="text"
                  class="form-control"
                  id="state"
                  name="state"
                  required
                />
              </div>
              <div class="form-group">
                <label for="pincode">Pincode:</label>
                <input
                  type="text"
                  class="form-control"
                  id="pincode"
                  name="pincode"
                  required
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" id="saveAddress">
              Save Address
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Categories</h4>
            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Women</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Men</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Shoes</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Watches</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Help</h4>
            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"
                  >Track Order</a
                >
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Returns</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">Shipping</a>
              </li>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">FAQs</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>
            <p class="stext-107 cl7 size-201">
              Any questions? Let us know in store at 8th floor, 379 Hudson St,
              New York, NY 10018 or call us on (+1) 96 716 6879
            </p>
            <div class="p-t-27">
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-pinterest-p"></i>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>
            <form>
              <div class="wrap-input1 w-full p-b-4">
                <input
                  class="input1 bg-none plh1 stext-107 cl7"
                  type="text"
                  name="email"
                  placeholder="email@example.com"
                />
                <div class="focus-input1 trans-04"></div>
              </div>
              <div class="p-t-18">
                <button
                  class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="p-t-40">
          <div class="flex-c-m flex-w p-b-18">
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-01.png" alt="ICON-PAY" />
            </a>
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-02.png" alt="ICON-PAY" />
            </a>
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-03.png" alt="ICON-PAY" />
            </a>
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-04.png" alt="ICON-PAY" />
            </a>
            <a href="#" class="m-all-1">
              <img src="/images/images/icons/icon-pay-05.png" alt="ICON-PAY" />
            </a>
          </div>
          <p class="stext-107 cl6 txt-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp;
            distributed by
            <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

    <!--===============================================================================================-->

    <script>
      function deleteAddress(id) {
        fetch("/user/profile/delete/" + id, {
          method: "DELETE", // Use "DELETE" method for deletion
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            // Handle success, e.g., remove the deleted address from the UI
            window.location.reload(); // You can also update the UI without a full page reload
          })
          .catch((error) => {
            console.error(error);
            // Handle the error, e.g., display an error message
          });
      }
    </script>

    <!--===============================================================================================-->

    <script>
      // Handle "Add Address" button click
      document.getElementById("addAddress").addEventListener("click", () => {
        // Show the Bootstrap modal for the address form
        $("#addressModal").modal("show");
      });

      document.getElementById("saveAddress").addEventListener("click", () => {
        const street = document.getElementById("street").value;
        const city = document.getElementById("city").value;
        const state = document.getElementById("state").value;
        const pincode = document.getElementById("pincode").value;

        $("#addressModal").modal("hide");
      });
    </script>

    <!--===============================================================================================-->

    <script>
      document.getElementById("saveAddress").addEventListener("click", () => {
        const street = document.getElementById("street").value;
        const city = document.getElementById("city").value;
        const state = document.getElementById("state").value;
        const pincode = document.getElementById("pincode").value;

        const addressData = {
          street,
          city,
          state,
          pincode,
        };

        fetch("/user/profile/add-address", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(addressData),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            window.location.reload();
          })
          .catch((error) => {
            console.error(error);
            // Handle the error, e.g., display an error message
          });
      });
    </script>

    <!--===============================================================================================-->
    <script>
      // Variables for profile fields
      const usernameField = document.getElementById("username");
      const phoneField = document.getElementById("phone");

      // Save Changes button
      const saveButton = document.getElementById("saveChanges");
      saveButton.addEventListener("click", saveChanges);

      // Edit Profile button
      const editButton = document.getElementById("editProfile");
      editButton.addEventListener("click", enableEditing);

      function enableEditing() {
        // Enable input fields for editing
        usernameField.disabled = false;
        phoneField.disabled = false;

        // Show the "Save Changes" button and hide "Edit Profile"
        saveButton.style.display = "inline-block";
        editButton.style.display = "none";
      }

      function saveChanges() {
        // Retrieve edited data from input fields
        const newUsername = usernameField.value;
        const newPhone = phoneField.value;

        // Create an object with the updated user data
        const updatedUserData = {
          newUsername,
          newPhone,
        };

        fetch("/user/profile/edit-profile", {
          method: "PUT", // Assuming you're using the PUT method on the server
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(updatedUserData),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              // Update was successful
              console.log("Profile updated successfully");
              // Disable input fields and hide "Save Changes," show "Edit Profile" again
              usernameField.disabled = true;
              phoneField.disabled = true;
              saveButton.style.display = "none";
              editButton.style.display = "inline-block";
            } else {
              // There was an error
              console.error("Failed to update profile: ");
            }
          })
          .catch((error) => {
            console.error("An error occurred:", error);
          });
      }
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
  </body>
</html>
